.sign-up-form{
  display:flex;
  flex-direction: column;
  width:300px;
}

.set-item{
  margin:10px;
  padding:10px;
  border:1px solid black;
}

.set-container{
  display:flex;
  flex-wrap: wrap;
}

.venue-info{
  display:flex;
  flex-direction: column;
  width:320px;
}
