$font-stack: 'Source Sans Pro', sans-serif;
$sd-black: #2f2f2f;
$sd-blue: #30e8ee;
$sd-links: #00bac0;
$sd-light-bg: #9dd8e1;
$sd-font-color: #141414;
$sd-light-black: #5d5e5e;

$sd-border: solid 1px $sd-light-black;

// Resets

ul{
  margin:0;
  padding:0;
}

// Globals

.maxwidth{
  width:100%;
}

body{
  margin: 0;
  padding: 0;
  font: 100% $font-stack;
  color: white;
  background-color: $sd-black;
}

a{
  color:$sd-links;
  text-decoration: none;
  width:100%;
}

h1{
  margin:0;
  padding:0.6em 0;
  font-size: 1.2em;
  text-align: center;
  font-weight: 400;
  background-color: $sd-light-black;
  width:100%;
}

// App Styles
.app{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.app__header{
  text-align: center;
  width:100%;
}

.app__logo{
  width:130px;
  padding-top:0.6em;
  padding-bottom:0.3em;
}

// Page Styles

.page-container{
  width:100%;
  max-width: 100%;
  transition: max-width 0.2s linear;
}

// Nav Styles

.nav{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  margin:0;
  padding:0;
  @at-root #{&}__link{
    display:block;
    padding:1em 0;
    color:black;
    font-size:0.8em;
    font-weight:600;
    &:hover{
      background: white;
      transition: background 0.2s;
    }
  }
  @at-root #{&}__item{
    background-color: $sd-light-bg;
    transition: background 0.2s;
    flex:1;
    border:$sd-border;
    text-align: center;
  }
}


// Set Styles

.set{
  display:flex;
  flex-wrap: wrap;
}

.set__date-place{
  text-align: center;
  padding:0.5em;
}

.set__item{
  border:$sd-border;
  display:flex;
  align-items: center;
  @at-root #{&}__thumbnail-image{
    margin:0.5em;
  }
  @at-root #{&}__info{
    color:white;
    margin-left: 0.5em;
    @at-root #{&}__date-venue{
      font-size: 0.9em;
    }
    @at-root #{&}__user{
     font-size: 1.3em;
    }
  }
  @at-root #{&}__arrow-box{
    display:flex;
    height:2em;
    flex:1;
    flex-direction: column;
    align-items: flex-end;
    @at-root #{&}__arrow-svg{
      margin-right: 0.8em;
    }
  }
}

// User List

.user-list{
  display:flex;
  flex-direction: column;
}

.user-list__item{
  display:flex;
  padding:1em;
}

.user-list__follow-btn{
  margin:0 1em;
}

.user-list__follow-btn--unfollow{
  // tbd
}

// Add Set

.venue-info{
  display:flex;
  flex-direction: column;
  width:320px;
}

.google-logo{
  width:8em;
  margin-top: 0.5em;
}

.rekordbox-dropbox{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border:dotted 3px grey;
}

.rekordbox-dropbox-text{
  padding-top:2em;
}

.rekordbox-logo{
  padding:1em;
}

.user-edit-controls{
  display:flex;
  flex-direction: column;
  a{
    button{
      width:100%;
      font-size: 1.2em;
      padding:0.5em;
    }
  }
  button{
    width:100%;
    font-size: 1.2em;
    padding:0.5em;
  }
}


// Sign In / Sign Up

.auth-form{
  display:flex;
  flex-direction: column;

  @at-root #{&}__input {
    border:$sd-border;
    font-size: 1.2em;
    padding:0.5em;
  }

  @at-root #{&}__btn{
    font-size: 1.2em;
    padding:0.5em;
  }
}

.sign-up-link{
  text-align:center;
  padding:0.5em;
}

// Track Styles

.track-list{
  display:flex;
  flex-direction:column;
}

.track-list__track{
  display:flex;
  @at-root #{&}__item{
    flex:1;
    padding:0.5em;
    font-size: 0.85em;
    border:$sd-border;
  }
}
.track-list__track--header{
  background-color: $sd-light-black;
  text-align: center;
  font-size:1em;
}

.auth-form__error{
  margin:0.5em;
  padding:0.5em;
  background-color: white;
  border: solid tomato 2px;
  color:$sd-black;
  text-align: center;
}

// Media Queries

@media screen and (min-width:500px){
  .page-container{
    max-width: 500px;
    transition: max-width 0.2s linear;
    margin-top: 25px;
  }

  .nav{
    max-width: 500px;
    margin:0 auto;
  }

  .nav__link{
    color: white;
    transition: background 0.2s;
    &:hover{
      background: white;
      color: black;
      transition: background 0.2s;
    }
  }

  .nav__item{
    background-color: rgba(0,0,0,0);
    transition: background 0.2s;
    border: none;
  }
}

@media screen and (min-width:800px){
  .page-container{
    max-width: 500px;
    transition: max-width 0.2s linear;
  }
}
