$font-stack: 'Source Sans Pro', sans-serif;
$primary-color: #191919;
$secondary-color: #D05353;
$tertiary-color: #E58F65;
$quaternary-color: #F9E784;

body{
  margin: 0;
  padding: 0;
  font: 100% $font-stack;
  color: $primary-color;
  background-color: $quaternary-color;
}

a{
  color:$secondary-color;
}

.google-logo{
  width:8em;
  margin-top: 0.5em;
}

.sign-up-form{
  display:flex;
  flex-direction: column;
  width:300px;
}

.set-item{
  margin:10px;
  padding:10px;
  border:1px solid black;
}

.set-container{
  display:flex;
  flex-wrap: wrap;
}

.venue-info{
  display:flex;
  flex-direction: column;
  width:320px;
}

.rekordbox-dropbox{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border:dotted 3px grey;
}
.rekordbox-dropbox-text{
  padding-top:2em;
}

.rekordbox-logo{
  padding:1em;
}

.user-list{
  display:flex;
  flex-direction: column;
  .user-item{
    display:flex;
    padding:1em;
    .follow-button{
      margin:0 1em;
    }
  }
}
